body {
  background-color: #fff !important;
}
.userplan_banner {
  margin-top: -20px;
  background: url('../images/user_plans_banner.png') no-repeat;
  background-size: cover;
  height:430px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 86px;
}
.userplan_banner span {
  color: #2C84D3;
  font-size: 18px;
}
.userplan_banner span a {
  color: #2C84D3;
  text-decoration: underline;
}
.userplan_banner h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #1D2126;
  font-weight: 600;
  margin: 78px 0 22px 0;
}
.userplan_banner p {
  font-size: 18px;
  font-weight: 300;
}
.userplan_banner .togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: #68D3BC;
}
.userplan_banner .togglebutton label input[type=checkbox]:checked + .toggle:after {
  border-color: #fff;
}
.userplan_banner .togglebutton label span {
  color: #1D2026;
}
.userplan_banner .togglebutton label {
  margin-top: 83px;
  position: relative;
}
.userplan_banner .togglebutton label b {
  position: absolute;
  top: 16px;
  right: -130px;
}
#yearly_promo {
  color :#1F407F;
  font-size: 20px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.container .row .col-6 .pricing_bd, .container .row .col-md-4 .pricing_bd {
  border: 1px solid #979797;
  border-radius: 8px;
  text-align: center;
  padding-top: 32px;
  height: 408px;
}
.container .row .col-6 .pricing_bd h2, .container .row .col-md-4 .pricing_bd h2 {
  color :#262C34;
  font-size: 20px;

}
.container .row .col-6 span {
  color: #3698DC;
  font-weight: 600;
  font-size: 40px;
}
.container .row .col-6 ins {
  display: block;
  color: #2C84D3;
  font-size: 11px;
  font-weight: 300;
  text-decoration: none;
}
.container .row .col-6 ul, .container .row .col-md-4 ul {
  text-align: left;
  padding-left: 63px;
  margin-top: 24px;
}
.container .row .col-6 ul li, .container .row .col-md-4 ul li {
  color: #5F6E80;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
}
.container .row .col-6 ul li span, .container .row .col-md-4 ul li span {
  color : #3698DC;
  font-size: 12px;
  font-weight: 300;
}
