#user_nav {
  background: #113F83;
  height: 200px;
}
#user_nav .navbar-nav>li>a {
  color: #fff;
}
.navbar-collapse {
  background: #113F83;
}
#myaccount {
  width: 113px;
  height: 30px;
}
.acc_relative {
  position: relative;
}
.navbar .dropdown-menu a.padding5 {
  padding: 5px;
}
table td {
  border: none !important;
}
li a.cl-reset {
  color: #85898D;
}
.navbar .dropdown-menu a.cl-reset:hover {
  color: #49E0BF !important;
}
#dropdown-reset {
  padding: 0;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  border-radius: 0px;
}

// Tabs
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #262C34;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}
.acc_bill {
  position: relative;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  position: absolute;
  top: -127px;
  left: 50%;
  margin-left: -400px;
}

section {
  display: none;
  padding: 20px 0 0;
  /*border-top: 1px solid #ddd;*/
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 400;
  text-align: center;
  color: #AEBBCB;
  border: 1px solid transparent;
  font-size: 20px;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #fff;
  border-bottom: 6px solid #5AE3C6;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 11px;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
