h3 {
  color: #5F6E80;
  font-size: 18px;
  line-height: 24px;
  margin-top: 28px;
}
h2 {
  color: #262C34;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 65px;
}
p {
  font-size: 18px;
  line-height: 24px;
  color: #5F6E80;
}
.box {
  border-bottom: 1px solid #B1BBCA;
  padding-bottom: 36px;
}
#up-plan {
  width: 176px;
  font-size: 1.3em;
}
.ps-relative {
  margin-top: 0 !important;
}
.plan-ctrl {
  display: flex;
  align-items: center;
}
.ccl-plan {
  color: #5F6E80;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-decoration: underline;
  margin-left: 44px;
}
.ccl-plan:hover {
  color: #0275d8;
  text-decoration: underline;
}
.p-method div h2 {
  color: #262C34;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}
.billing-button {
  border: 1px solid #85888C;
  border-radius: 86px;
  color: #85898C;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 34px;
  margin-top: 28px;
}
.inv-date {
  color: #262C34;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}
.inv-amnt {
  color: #85898C;
  line-height: 24px;
}
.box table tr td a {
  text-decoration: underline;
  font-size: 18px;
  line-height: 24px;
  color: #2967DB;
}
