body {
  background-color: #fff !important;
}
.userplan_banner {
  margin-top: -20px;
  background: url('../images/user_plans_banner.png') no-repeat;
  background-size: cover;
  height:430px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 86px;
}
.userplan_banner span {
  color: #2C84D3;
  font-size: 18px;
}
.userplan_banner span a {
  color: #2C84D3;
  text-decoration: underline;
}
.userplan_banner h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #1D2126;
  font-weight: 600;
  margin: 78px 0 22px 0;
}
.userplan_banner p {
  font-size: 18px;
  font-weight: 300;
}
/*** Toggle Button ***/
.userplan_banner .togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: #68D3BC;
}
.userplan_banner .togglebutton label input[type=checkbox]:checked + .toggle:after {
  border-color: #fff;
}
.userplan_banner .togglebutton label span {
  color: #1D2026;
}
.userplan_banner .togglebutton label {
  margin-top: 83px;
  position: relative;
}
.userplan_banner .togglebutton label b {
  position: absolute;
  top: 16px;
  right: -130px;
}

/*** End Toggle Button ***/
#yearly_promo {
  color :#1F407F;
  font-size: 20px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
/*** Plans Section ***/
.container .row .col-6 .pricing_bd, .container .row .col-md-4 .pricing_bd {
  border: 1px solid #979797;
  border-radius: 8px;
  text-align: center;
  padding-top: 32px;
  height: 408px;
}
.container .row .col-6 .pricing_bd h2, .container .row .col-md-4 .pricing_bd h2, h2 {
  color :#262C34;
  font-size: 20px;

}
.container .row .col-6 span {
  color: #3698DC;
  font-weight: 600;
  font-size: 40px;
}
.container .row .col-6 ins {
  display: block;
  color: #2C84D3;
  font-size: 11px;
  font-weight: 300;
  text-decoration: none;
}
.container .row .col-6 ul, .container .row .col-md-4 ul {
  text-align: left;
  padding-left: 63px;
  margin-top: 24px;
}
.container .row .col-6 ul li, .container .row .col-md-4 ul li {
  color: #5F6E80;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
}
.container .row .col-6 ul li span, .container .row .col-md-4 ul li span {
  color : #3698DC;
  font-size: 12px;
  font-weight: 300;
}
section {
  display: block !important;
}

/*** Choose Button ***/

.choosebutton {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -65px;
  width: 130px;
  height: 40px;
  text-align: center;
}

#planButton1, #planButton2, #planButton3 {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #7CC5D8;
  color: #7CC5D8;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#planButto1n:hover, #planButton2:hover, #planButton3:hover {
  color: white;
  background: #7CC5D8;
}

#planButton1:active, #planButton2:active, #planButton3:active {
  letter-spacing: 1px;
}

#planButton1:after, #planButton2:after, #planButton3:after {
  content: "Choose";
}
/*** End Choose Button ***/
/*** End Plans Section ***/

/*** SVG Section Devider Animation ***/
.divider svg g {
    stroke: #B0BBC9;
    stroke-width: 1;
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation-name: draw;
    animation-duration: 3s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: cubic-bezier(.62,.52,.51,.94);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
/*** End SVG Section Devider Animation ***/

/*** Your Integration Section ***/
span.your-inte {
  font-size: 16px;
  color: #A1ADBE;
  font-style: italic;
  font-weight: 300;
}


/*** End Your Integration Section ***/

/*** Tooltip ***/
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}


/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/*** End Tooltip ***/
